- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    %h2
      There where some errors encountered

  .form-group
    = label f, :name, class: "control-label"
    = text_input f, :name, class: "form-control"
    = error_tag f, :name

  .form-actions
    = submit "Save", class: "btn btn-primary"

