/* This file is for your main application css. */

body {
  background: black;
  font-family: "PT Mono", monospace;
}

.the-bar-container {
  display: flex;

  height: 98vh;

  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.the-bar-container > .header {
  color: #E5E5E5;
  border-bottom: none;

  font-size: 3em;
}

.the-bar-container > .subline {
  color: #E4E5E4;
  padding-bottom: 80px;
}

.the-bar-container > .contact {
  color: #EEEEEE;
}

.notice {
  color: #111; 
  text-align: right;
  font-size: 11px;
}