%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      = link to: page_path(@conn, :index), class: "navbar-brand" do
        The Bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link "Drinks", to: drink_path(@conn, :index)
        %li
          = link "Ingredients", to: ingredient_path(@conn, :index)
        %li
          = link "Categories", to: category_path(@conn, :index)
